VITE_SUPABASE_URL=https://mfsmlyiwhejmwhpgemns.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_Ueagl9dp-vvHD8HwECLqWg_aUkv5aZh
GROQ_API_KEY=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
GROQ_MODEL=llama-3.1-8b-instant
GOOGLE_MAPS_API_KEY=
MAPPLS_API_KEY=
VITE_MAPPLS_KEY=hjzsycxrxjkxlxcgfumfxjvymwseauyljuhz
VITE_BACKEND_URL=
